In [1]:
mylist = [1,2,3]

mylist.append(4)

In [2]:
mylist

[1, 2, 3, 4]

In [3]:
mylist.pop()

4

In [4]:
mylist

[1, 2, 3]

In [ ]:
mylist.insert

In [5]:
help(mylist.insert)

Help on built-in function insert:

insert(index, object, /) method of builtins.list instance
    Insert object before index.

# Functions allow us to create blocks of code that can be easily executed many times

def name_of_function():    this _ is called snake casing

In [11]:
def name_of_function(name):
    '''
    Three ' are how you document in the funciton 
    '''
    #hello jeff
    print(name)

name_of_function("Jeff")

Jeff

In [13]:
def add_function(num1, num2):
    return num1 + num2

total = add_function(12,43)

print(total)

55

In [15]:
def say_hello():
    print("hello!")
    print("what is your name?")
say_hello()

hello!
what is your name?

In [17]:
def say_hello(name):
    print(f'Hello {name}')
    
say_hello("JEFF")

Hello JEFF

TypeError: say_hello() missing 1 required positional argument: 'name'

In [20]:
def say_hello(name='Default'):
    print(f'Hello {name}')

In [21]:
say_hello()

Hello Default

In [22]:
def add_num(num1, num2):
    return num1 + num2

In [24]:
add_num(12,32)

44

In [25]:
result = add_num(12,2342)
print(result)

2354

In [26]:
def print_result(a,b):
    print(a+b)

def return_result(a,b):
    return a + b

In [27]:
print_result(2,4)

6

In [28]:
return_result(4,21)

25

In [34]:
result = print_result(34,23)

57

In [30]:
type(result)

NoneType

In [36]:
result = return_result(2,4)

In [33]:
type(result)

int

In [37]:
result

6

In [39]:
def myfunc(a,b):
    print(a+b)
    return a+b

In [41]:
result = myfunc(2,3)

5

In [42]:
def sum_num(a,b):
    return a + b

In [43]:
sum_num(12,34)

46

In [44]:
sum_num("10", "34")

'1034'

# Logic

In [45]:
41 % 30

11

In [46]:
3%3

0

In [48]:
20 % 2 == 0

True

In [49]:
def even_check(number):
    result = number % 2 == 0
    return result

In [50]:
even_check(20)

True

In [51]:
even_check(21)

False

In [52]:
def even_check(number):
    return number % 2 == 0

In [53]:
even_check(21)

False

In [54]:
# Return true if any number is even in a list

In [61]:
def check_even_list(num_list):
    for x in num_list:
        if x % 2 == 0:
            return True
        else: 
            pass

In [69]:
mylist = [1,2,3,4,5,6]

In [60]:
check_even_list(mylist)

True

In [88]:
def check_even_list(num_list):
    even_list = []
    odd_list = []
    for x in num_list:
        if x % 2 == 0:
            even_list.append(x)
        else: 
            odd_list.append(x)
    return even_list, odd_list

In [89]:
newList = check_even_list(mylist)

In [90]:
newList

([2, 4, 6], [1, 3, 5])

In [91]:
mylist

[1, 2, 3, 4, 5, 6]

In [92]:
even_list

NameError: name 'even_list' is not defined

In [93]:
#STOCK EXAMPLE

In [94]:
stock_prices = [('APPL', 200),('GOOG', 120),('PENN', 234)]

In [95]:
stock_prices

[('APPL', 200), ('GOOG', 120), ('PENN', 234)]

In [96]:
for items in stock_prices:
    print(items)

('APPL', 200)
('GOOG', 120)
('PENN', 234)

In [97]:
for ticker,price in stock_prices:
    print(ticker)

APPL
GOOG
PENN

In [99]:
for ticker,price in stock_prices:
    print(price + (0.1*price))

220.0
132.0
257.4

In [115]:
work_hours = [('Abby', 100), ('Billy', 3030), ('Bob', 30234)]

In [116]:
def employee_check(work_hours):
    
    current_max = 0
    employee_of_month = ''
    
    for name,time in work_hours:
        if time > current_max:
            employee_of_month = name
            current_max = time
    
    return (employee_of_month, current_max)

In [117]:
employee_check(work_hours)

('Bob', 30234)

In [119]:
name,hours = employee_check(work_hours)

In [120]:
name

'Bob'

In [121]:
hours

30234

## Interactions between Python Functions

In [1]:
example =  [1,2,3,4,5,6,7]

In [6]:
from random import shuffle

In [5]:
result = shuffle(example)

In [1]:
def shuffle_list(list):
    shuffle(list)
    return list

In [10]:
shuffle_list(example)

[5, 7, 4, 2, 6, 1, 3]

In [11]:
mylist = [" ", "O", " "]

In [12]:
shuffle_list(mylist)

['O', ' ', ' ']

In [8]:
def player_guess():
    
    guess = ''
    
    while guess not in ['0', '1', '2']:
        guess = input('Pick a number: 0, 1, or 2')
    
    return int(guess)

In [3]:
player_guess()

Pick a number: 0, 1, or 2
Pick a number: 0, 1, or 21

1

In [ ]:
myindex = player_guess()

In [ ]:
myindex

In [16]:
def check_guess(mylist, guess):
    if mylist[guess] == 'O':
        print('Correct')
    else:
        print('Wrong Guess!')
        print(mylist)

In [22]:
#Initial list
mylist = [' ', 'O', ' ']

#Shuffle List
mixed_list = shuffle_list(mylist)

#User guess
guess = player_guess()

#check guess
check_guess(mixed_list, guess)

Pick a number: 0, 1, or 22
Wrong Guess!
[' ', 'O', ' ']

In [18]:
type(mylist)

list

In [14]:
type(guess)

int

In [19]:
type(mixed_list)

NoneType

In [20]:
mixed_list

# *args and **kwargs use these words for syntax. Can use others but convention is to use these 2 words

In [1]:
def myfunc(a,b):
    #Returns 5% of sum a&b
    return sum((a,b)) * 0.05

In [3]:
myfunc(40,60)

5.0

In [4]:
def myfunc(a,b,c=0,d=0):
    return sum((a,b,c,d)) * 0.05

In [9]:
def myfunc(*args):
    print(args)
    return sum((args)) * 0.05

In [10]:
myfunc(4,2,2,1,4,5)

(4, 2, 2, 1, 4, 5)

0.9

In [15]:
myfunc(40,60,100,1,34)

40
60
100
1
34

11.75

In [12]:
def myfunc(*spam):
    print(spam)
    return sum((spam)) * 0.05

In [14]:
def myfunc(*spam):
    for item in spam:
        print(item)
    return sum((spam)) * 0.05

In [19]:
def myfunc2(**kwargs):
    print(kwargs)
    if 'fruit' in kwargs:
        print('My fruit of choice is {}'.format(kwargs['fruit']))
    else:
        print('I did not find any fruit here')

In [20]:
myfunc2(fruit='apple')

{'fruit': 'apple'}
My fruit of choice is apple

In [21]:
myfunc2(veggie='lettuce')

{'veggie': 'lettuce'}
I did not find any fruit here

In [25]:
def myfunc3(*args, **kwargs):
    print(args)
    print(kwargs)
    print('I would like {} {}'.format(args[0],kwargs['food']))

In [26]:
myfunc3(10,20,30,fruit='orage',food='eggs',animal='dogs')

(10, 20, 30)
{'fruit': 'orage', 'food': 'eggs', 'animal': 'dogs'}
I would like 10 eggs

In [6]:
def myfunc(st):

    res = []
    #Iterate over the character
    for index in range(len(st)):
        print(index)
        if index % 2 == 0:
            #Refer to each character via index and append modified character to list
            res.append(st[index].upper())
        else:
            res.append(st[index].lower())

    #Join the list into a string and return
    return ''.join(res)

In [7]:
myfunc('Jeff')

0
1
2
3

'JeFf'

# Lamda Expressions Map and Filter

### Map

In [1]:
def square(num):
    return num**2

In [2]:
my_nums = [1,2,3,4,5]

In [4]:
for item in map(square,my_nums):
    print(item)

1
4
9
16
25

In [5]:
list(map(square,my_nums))

[1, 4, 9, 16, 25]

In [6]:
def splicer(mystring):
    if len(mystring)%2 == 0:
        return 'EVEN'
    else:
        return mystring[0]

In [7]:
names = ['Andy','Eve','Sally']

In [8]:
list(map(splicer, names))

['EVEN', 'E', 'S']

### Filter

In [18]:
def check_even(num):
    return num%2 == 0

In [19]:
mynums = [1,2,3,4,5,6]

In [14]:
filter(check_even,mynums)

In [15]:
list(filter(check_even,mynums))

[2, 4, 6]

In [20]:
for n in filter(check_even,mynums):
    print(n)

2
4
6

### Lambda

In [21]:
def square(num):
    result = num ** 2
    return result

In [27]:
square(3)

9

In [23]:
# def square(num): return num ** 2

#### Lambda expression is annonymous function. Intend to use 1 time.

In [26]:
square = lambda num: num ** 2

In [28]:
square(5)

25

In [29]:
list(map(lambda num: num ** 2, mynums))

[1, 4, 9, 16, 25, 36]

In [32]:
list(filter(lambda num: num %2 ==0, mynums))

[2, 4, 6]

In [33]:
names

['Andy', 'Eve', 'Sally']

In [35]:
list(map(lambda name: name[0],names))

['A', 'E', 'S']

In [36]:
list(map(lambda x:x[::-1],names))

['ydnA', 'evE', 'yllaS']

## Nested Statements and Scope